{% extends "base.html" %}

<!-- {% block title %}{{ section.title }}{% endblock %} -->

{% block additional_include %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pages/contact.css' %}">
{% endblock %}
{% block content %}

{% load static %}
<section id="pageContent">
    <div class='image contain autofill imgCanvas imgContain'>
        <div class="picFill" style='background-image: url({{settings.image.url}});'>
            <div style="height: 100%;">
        <form id="messageForm" method="POST">
            {% csrf_token %}
            {{form.captcha}}
            <div class="halfOfForm">
                {% for field in form %}
                    {% if field != form.message and field != form.captcha %}
                    <div class="formSection">
                        {{field.label_tag }}
                        {{field}}
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="halfOfForm" id="secHalfOfForm">
                <div class="formSection">
                    {{form.message.label_tag }}
                    {{form.message}}
                </div> 
                <input type="submit" id="submit" value="Wyślij wiadomość"/>
            </div>
        </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}