//main
$scrollSize: 0vw !default;
$width: (100vw -$scrollSize) !default;
$spaceBetweenButtons: 50px !default;
$menuBgColor: #fff !default;
$textColor: #333 !default;
$menuTextColor: #999 !default;
$menuSize: 15vh !default;
$portraitSize: 10vh !default;
$logoMargin: 10% !default;

$darkmenuBgColor: #333 !default;
$darktextColor: #ddd !default;
$darkmenuTextColor: #999 !default;

//home
$paddingBtnFromSlider: 2% !default;

//portfolio
$imgGalleryPadding: 3vw;

@function vh($quantity) {
    @return calc(var(--vh, 1vh) * #{$quantity});
    }