@-webkit-keyframes loadingRotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  37.5% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  62.5% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  87.5% {
    -webkit-transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

#menuBar {
  z-index: 50;
  position: fixed;
  top: 0px;
  overflow: hidden;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  padding-left: 50px;
}

#menuBar menu {
  z-index: 50;
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100%;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuBar menu li {
  padding: 0px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0px;
  list-style: none;
}

#menuBar menu li a, #menuBar menu li i {
  text-decoration: none;
}

#menuBar menu li i {
  position: relative;
  display: inline-block;
  padding: 7px;
}

#menuBar menu li:hover {
  cursor: pointer;
}

#menuBar menu li:hover a, #menuBar menu li:hover i {
  cursor: pointer;
}

#menuBar menu ul.submenu li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#menuBar menu ul.submenu li i {
  font-size: 1.5em;
  padding: 0px;
  margin-right: -12px;
}

#menuBar div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#menuBar div i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#menuBar header {
  color: #fff;
  margin-left: 55px;
}

#menuBar header h1 {
  color: #fff;
  margin-left: 55px;
}

#logo {
  margin: 10%;
  width: 80%;
  height: 80%;
  padding: 0px;
  border-radius: 5%;
}

#settings .submenu li {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#settings .submenu li i {
  font-size: 1.5em;
  padding: 0px;
}

#settings #imageQuality {
  width: 50%;
  height: 1em;
}

#searchBar #searchForm {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#searchBar #searchForm #searchInput {
  width: 75%;
}

#searchBar #searchForm #searchBtn {
  width: 20%;
}

#searchBar #searchForm #searchBtn:hover {
  width: 20%;
}

@media (max-width: 750px), (orientation: portrait) {
  #menuBar {
    height: auto;
    -ms-grid-columns: 10vh 1fr 50px;
        grid-template-columns: 10vh 1fr 50px;
    -ms-grid-rows: 10vh auto;
        grid-template-rows: 10vh auto;
  }
}

@media (max-width: 750px) and (min-width: 750px), (orientation: portrait) and (min-width: 750px) {
  #menuBar {
    font-size: 2rem;
  }
}

@media (max-width: 750px) and (max-width: 750px), (orientation: portrait) and (max-width: 750px) {
  #menuBar {
    font-size: 1.5rem;
  }
}

@media (max-width: 750px), (orientation: portrait) {
  #menuBar #menubutton {
    -ms-grid-columns: 2/3;
        grid-template-columns: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 2em;
    padding: 0px;
    margin-left: -20px;
  }
  #menuBar menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
}

@media (max-width: 750px) and (min-width: 400px), (orientation: portrait) and (min-width: 400px) {
  #menuBar menu {
    font-size: 1.3em;
  }
}

@media (max-width: 750px), (orientation: portrait) {
  #menuBar menu div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 10px;
  }
  #menuBar menu ul.submenu {
    z-index: 50;
    font-size: 0.7em;
    display: none;
    width: 100vw;
    padding-right: 50px;
    padding-left: 50px;
  }
  #menuBar menu ul.submenu li {
    padding: 0px 12px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menuBar menu li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #menuBar menu li:hover ul.submenu {
    display: block;
  }
  #menuback {
    width: 100vw;
    height: 10vh;
  }
}

@media (orientation: landscape) and (min-width: 750px) and (max-width: 1000px) {
  #menuBar {
    font-size: 0.7rem;
  }
}

@media (orientation: landscape) and (min-width: 1000px) and (max-width: 2000px) {
  #menuBar {
    font-size: 1.5rem;
  }
}

@media (orientation: landscape) and (min-width: 2000px) {
  #menuBar {
    font-size: 2rem;
  }
}

@media (orientation: landscape) and (min-width: 750px) {
  #menuBar {
    height: 15vh;
    -ms-grid-columns: 15vh 1fr 50px;
        grid-template-columns: 15vh 1fr 50px;
  }
  #menuBar #menubutton {
    display: none;
  }
  #menuBar menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  #menuBar menu ul.submenu {
    font-size: 0.7em;
    display: none;
    position: fixed;
    top: 7.5vh;
    left: 75.01vw;
    margin-top: 0.7em;
    width: 25vw;
    min-width: 160px;
    z-index: 50;
    padding: 1.1em 12px;
    padding-right: 55px;
  }
  #menuBar menu ul.submenu li {
    padding: 0px 12px;
    text-decoration: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  #menuBar menu li:hover ul.submenu {
    display: -ms-grid;
    display: grid;
  }
  #menuback {
    width: 100vw;
    height: 15vh;
  }
}

.settingBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=topMenu.css.map */