{% extends "base.html" %}

<!-- {% block title %}{{ section.title }}{% endblock %} -->

{% block additional_include %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pages/portfolio.css' %}">
{% endblock %}
{% block content %}
    <div id="container">
        <section id="galleries">
            <!-- <?php 
                $galleryPhotos = array(
                    "event" => array("event.jpg", "ewenty", "events"), 
                    "party" => array("party.jpg", "imprezy<br>okolicznościowe", "occasional-parties"), 
                    "portrait" => array("portrait.jpg", "portrety", "portraits")
                );
                foreach ($galleryPhotos as $key => $value) {
                    echo "<article id='gallery_$key' class='photoGalleryMiniature'>
                    <div class='image autofill hoverZoom1x5 hoverblur'>
                    <div class='imgCanvas'><div class='imgContain'>
                    <div class='overlay'>
                    <a href='$value[2]'>
                    <div class='title'>
                    <span>".mb_strtoupper($value[1])."</span>
                    </div></a></div>
                    <div class='picFill' style='background-image: url(\"pic/".$value[0]."\");'></div>
                    </div></div></div></article>";
                }
            ?> -->
            {% for cat in subcat %}
                <article id='gallery' class='photoGalleryMiniature'>
                <div class='image autofill hoverZoom1x5 hoverblur'>
                <div class='imgCanvas'><div class='imgContain'>
                <div class='overlay'>
                <a href='portfolio/{{cat.friendly_link}}'>
                <div class='title'>
                <span>{{cat.visible_name|upper}}</span>
                </div></a></div>
                <div class='picFill' style='background-image: url("{{cat.background_image.url}}");'></div>
                </div></div></div></article>
            {% endfor %}
        </section>
        <section id='imgGallery'>
        </section>
        <script src="{% static 'js/portfolioPageBuild.js' %}"></script>
        <script>
            ajaxGetImages();
        </script>
    </div>
{% endblock %}