{% extends "base.html" %}

<!-- {% block title %}{{ section.title }}{% endblock %} -->

{% block additional_include %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'style/pages/portfolio.css' %}">
{% endblock %}
{% block content %}
    <div id="container">
        <section id='imgGallery'>
            <div id="images"></div>
            <div id="loadingCircle"><i class="fas fa-spinner"></i></div>
        </section>
        <script src="{% static 'js/portfolioPageBuild.js' %}"></script>
        <script>
            startBuildingPage("{{category}}");
        </script>
    </div>
{% endblock %}