<div class="input-group mt-3 px-1">
    <div class="input-group-prepend">
        <label class="input-group-text" for="groups_select">Grupa</label>
    </div>
    <select class="custom-select" id="groups_select"  name="groups_select" onchange="GetGroup(this)">
        {% load converts  %}
        <option value="none"  {% if groups_select == "none" %} selected {% endif %}>Wybierz grupe</option>
        <option value="add_new"  {% if groups_select == "add_new" %} selected {% endif %}>Dodaj nową</option>
        {% for i in groups %}
            <option value="{{ i.id }}" {% if groups_select|to_int == i.id %} selected {% endif %}>"{{ i.visible_name }}"</option>
        {% endfor %}
    </select>
    <span>
        {{groups_select}}</span>

    <div id="new_group" class="input-group card text-white bg-secondary" style="display: none;">
        <!-- nowa grupa -->
    </div>
    <div class="input-group mt-3" id="add_images" style="display: none;">
        <div class="input-group">
            <div class="input-group-prepend">
                <label class="input-group-text" for="files">Wybierz zdjęcia</label>
            </div>
            <input id="files" type="file" name="files" class="form-control" accept="image/*" multiple onchange="SelectImages(this)"/>
        </div>
    </div>

    <div id="images" class="input-group card text-white bg-secondary" style="display: none;">
        <!-- zdjęcia -->
    </div>

<script>
    function GetGroup(element) {
        var value = element.value;
        $('#new_group').html("")
        $('#new_group').css("display", "none")
        $('#images').html("")
        $('#images').css("display", "none")
        $('#add_images').css("display", "none")
        $('#files').val('')
        console.log(value);
        if (value != "none")
        {
            if (value == "add_new")
            {
                $('#new_group').css("display", "block")

                data = {
                }

                $.ajax({
                    type: 'GET',
                    url: '/admin/add_images/new_group',
                    data: data,
                    beforeSend: function(jqXHR, settings) {
                        console.log(settings.url)
                    },
                    success: function (data) {
                        $('#new_group').html(data.html)
                        $('#new_group').find("#id_cat").val($("#categories_select").val())
                    }
                });
            }
            else{
                $('#add_images').css("display", "block")
            }
        }
    }
    GetGroup(document.getElementById("groups_select"))

    function GetImages(element) {
        
    }
    function SaveImages(element) {
        
    }
</script>
</div>