<div class="input-group mt-3 px-1">
    <div class="input-group-prepend">
        <label class="input-group-text" for="groups_select">Grupa</label>
    </div>
    <select class="custom-select" id="groups_select"  name="groups_select" onchange="GetGroup(this)">
        {% load converts  %}
        <option value="none"  {% if groups_select == "none" %} selected {% endif %}>Wybierz grupe</option>
        <option value="add_new"  {% if groups_select == "add_new" %} selected {% endif %}>Dodaj nową</option>
        {% for i in groups %}
            <option value="{{ i.id }}" {% if groups_select|to_int == i.id %} selected {% endif %}>"{{ i.visible_name }}"</option>
        {% endfor %}
    </select>

    <div id="new_group" class="input-group card text-white bg-secondary" style="display: none;">
        <!-- nowa grupa -->
    </div>

    <div class="input-group" id="images_holder" style="display: none;">
        <div class="input-group" id="images">
        </div>
        <div class="input-group mt-3">
            <buttn class="btn btn-light btn-lg p-2 col" onclick="AddImageForm(document.getElementById('images'))">Dodaj nowy formularz do zdjęcia</buttn>
        </div>
    </div>

<script>
    function GetGroup(element) {
        var value = element.value;
        $('#new_group').html("")
        $('#new_group').css("display", "none")
        $('#images_holder').css("display", "none")
        $('#files').val('')
        $('#images').html('')
        if (value != "none")
        {
            if (value == "add_new")
            {
                $('#new_group').css("display", "block")

                data = {
                }

                $.ajax({
                    type: 'GET',
                    url: '/admin/add_images/new_group',
                    data: data,
                    success: function (data) {
                        $('#new_group').html(data.html)
                        $('#new_group').find("#id_cat").val($("#categories_select").val())
                        getMesseges()
                    },
                    error: function () {
                        getMesseges()
                    }
                });
            }
            else{
                $('#images_holder').css("display", "block")
            }
        }
    }
    GetGroup(document.getElementById("groups_select"))

    var id = 0

    function AddImageForm(element) {
        $.ajax({
            type: 'GET',
            url: '/admin/add_images/new_image',
            data: data,
            success: function (data) {
                html = $(data.html);
                $(html).find("#id_cat").val($("#categories_select").val());
                $(html).find("#id_grp").val($("#groups_select").val());
                $('#images').append(html);
            }
        });
    }
    GetGroup(document.getElementById("groups_select"))

    

    function SaveImages() {
        
        $("#images form").each(function( index ){
            temp_this = $(this)
            if ($(this).find("#id_image").val() != "")
                $(this).ajaxSubmit({
                    url: '/admin/add_images/new_image/',
                    type: 'POST',
                    success: function (data) {
                        $(temp_this).html(data.html)
                        if (data.success == true){
                            $(temp_this).remove()
                        }
                        getMesseges()
                    },
                    error: function () {
                        getMesseges()
                    }
                })
            else 
                $(temp_this).remove()
        })
    }
</script>
</div>