
<form id="add_new_group"  class="px-2 d-flex flex-column w-100 form" name="add_new_group" method="POST"  enctype="multipart/form-data">
    {% csrf_token %}
    
{% load converts  %}
    {% for field in form.visible_fields %}
        <div class="input-group mt-3">
            <div class="input-group mt-3">
                {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            </div>
            <div class="input-group mt-3">
                {% endfor %}
                <div class="input-group-prepend">
                    <div class="input-group-text pt-0 pb-0">{{field.label}}</div>
                </div>
                {% if field == form.display %}
                    <div class="form-control">{{field}}</div>
                {% else %}
                    {{field}}
                {% endif %}
                
            </div>
        </div>
    {% endfor %}
    
    {% for field in form.hidden_fields  %}
            {{field}}
    {% endfor %}
    
{% if pure_html %}
    <input type="hidden" name="pure_html" value="{{pure_html}}"/>
    <input type="submit" value="ok"/>
{% endif %}
</form>
<script>
    function Submit_new_group(){

        $("#add_new_group").ajaxSubmit({
            url: '/admin/add_images/new_group/',
            type: 'POST',
            success: function (data) {
                if (data["html"] != "undefinted"){
                    $('#add_new_group').html("");
                    html = $(data.html).filter("#add_new_group").html()
                    $('#add_new_group').html(html)
                    $('#add_new_group').filter("#id_cat").val($("#categories_select").val())
                }
            },
            error: function() {
            }
        })
    }
</script>