@-webkit-keyframes loadingRotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  37.5% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  62.5% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  87.5% {
    -webkit-transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

.lightMode {
  color: #333;
  background-color: white;
}

.lightMode .outline {
  color: #333;
  -webkit-text-stroke: 1px #ddd;
}

.darkMode {
  color: #ddd;
  background-color: #333333;
}

.darkMode .outline {
  color: #ddd;
  -webkit-text-stroke: 1px #333;
}

.brightModeHoverButton .lightMode {
  color: rgba(51, 51, 51, 0.7);
  background-color: rgba(255, 255, 255, 0);
}

.brightModeHoverButton .lightMode .outline {
  color: #333;
  -webkit-text-stroke: 1px #ddd;
}

.brightModeHoverButton .lightMode:hover {
  color: #333333;
}

.brightModeHoverButton .darkMode {
  color: rgba(221, 221, 221, 0.7);
  background-color: rgba(51, 51, 51, 0);
}

.brightModeHoverButton .darkMode .outline {
  color: #ddd;
  -webkit-text-stroke: 1px #333;
}

.brightModeHoverButton .darkMode:hover {
  color: #dddddd;
}

.lightModeMenu {
  color: #999;
  background-color: white;
}

.lightModeMenu ul.submenu, .lightModeMenu #menuBar {
  background-color: white;
}

.lightModeMenu a, .lightModeMenu i, .lightModeMenu div {
  color: #999;
}

.lightModeMenu input, .lightModeMenu .settingBtn, .lightModeMenu input#searchBtn, .lightModeMenu input.textInp {
  color: #333;
  background-color: white;
  border: 1px solid #333;
}

.lightModeMenu input .settingBtn:hover, .lightModeMenu input #searchBtn:hover, .lightModeMenu .settingBtn .settingBtn:hover, .lightModeMenu .settingBtn #searchBtn:hover, .lightModeMenu input#searchBtn .settingBtn:hover, .lightModeMenu input#searchBtn #searchBtn:hover, .lightModeMenu input.textInp .settingBtn:hover, .lightModeMenu input.textInp #searchBtn:hover {
  background-color: #e6e6e6;
}

.lightModeMenu input .sliderRange, .lightModeMenu .settingBtn .sliderRange, .lightModeMenu input#searchBtn .sliderRange, .lightModeMenu input.textInp .sliderRange {
  background: #999;
  border: none;
}

.lightModeMenu input .sliderRange::-webkit-slider-thumb, .lightModeMenu input .sliderRange::-moz-range-thumb, .lightModeMenu .settingBtn .sliderRange::-webkit-slider-thumb, .lightModeMenu .settingBtn .sliderRange::-moz-range-thumb, .lightModeMenu input#searchBtn .sliderRange::-webkit-slider-thumb, .lightModeMenu input#searchBtn .sliderRange::-moz-range-thumb, .lightModeMenu input.textInp .sliderRange::-webkit-slider-thumb, .lightModeMenu input.textInp .sliderRange::-moz-range-thumb {
  background: #333;
}

.lightModeMenu .hovered {
  color: #333;
}

.darkModeMenu {
  color: #999;
  background-color: #333333;
}

.darkModeMenu ul.submenu, .darkModeMenu #menuBar {
  background-color: #333333;
}

.darkModeMenu a, .darkModeMenu i {
  color: #999;
}

.darkModeMenu input, .darkModeMenu .settingBtn, .darkModeMenu input#searchBtn, .darkModeMenu input.textInp, .darkModeMenu input.sliderRange {
  color: #ddd;
  background-color: #333333;
  border: 1px solid #ddd;
}

.darkModeMenu input .sliderRange, .darkModeMenu .settingBtn .sliderRange, .darkModeMenu input#searchBtn .sliderRange, .darkModeMenu input.textInp .sliderRange, .darkModeMenu input.sliderRange .sliderRange {
  background: #999;
  border: none;
}

.darkModeMenu input .sliderRange::-webkit-slider-thumb, .darkModeMenu input .sliderRange::-moz-range-thumb, .darkModeMenu .settingBtn .sliderRange::-webkit-slider-thumb, .darkModeMenu .settingBtn .sliderRange::-moz-range-thumb, .darkModeMenu input#searchBtn .sliderRange::-webkit-slider-thumb, .darkModeMenu input#searchBtn .sliderRange::-moz-range-thumb, .darkModeMenu input.textInp .sliderRange::-webkit-slider-thumb, .darkModeMenu input.textInp .sliderRange::-moz-range-thumb, .darkModeMenu input.sliderRange .sliderRange::-webkit-slider-thumb, .darkModeMenu input.sliderRange .sliderRange::-moz-range-thumb {
  background: #ddd;
}

.darkModeMenu input .settingBtn:hover, .darkModeMenu input #searchBtn:hover, .darkModeMenu .settingBtn .settingBtn:hover, .darkModeMenu .settingBtn #searchBtn:hover, .darkModeMenu input#searchBtn .settingBtn:hover, .darkModeMenu input#searchBtn #searchBtn:hover, .darkModeMenu input.textInp .settingBtn:hover, .darkModeMenu input.textInp #searchBtn:hover, .darkModeMenu input.sliderRange .settingBtn:hover, .darkModeMenu input.sliderRange #searchBtn:hover {
  background-color: #e6e6e6;
}

.darkModeMenu .hovered {
  color: #ddd;
}

.lightModeMenu li:hover, .lightModeMenu div li:hover {
  color: #333;
}

.lightModeMenu li:hover a, .lightModeMenu li:hover i, .lightModeMenu div li:hover a, .lightModeMenu div li:hover i {
  color: #333;
}

.darkModeMenu li:hover, .darkModeMenu div li:hover {
  color: #ddd;
}

.darkModeMenu li:hover a, .darkModeMenu li:hover i, .darkModeMenu div li:hover a, .darkModeMenu div li:hover i {
  color: #ddd;
}
/*# sourceMappingURL=lightMode.css.map */