@-webkit-keyframes loadingRotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  37.5% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  62.5% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  87.5% {
    -webkit-transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  border: none;
  padding: 0px;
  overflow: hidden;
  overflow-y: visible;
  font-family: 'Exo 2', sans-serif;
  scrollbar-width: none;
}

.semiTransparentMenu {
  background-color: rgba(255, 255, 255, 0.5);
}

.notTransparentMenu {
  background-color: white;
}

#main {
  position: relative;
  overflow: hidden;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 85vh auto;
      grid-template-rows: 85vh auto;
}

@media (max-width: 750px), (orientation: portrait) {
  #main {
    -ms-grid-rows: 90vh auto;
        grid-template-rows: 90vh auto;
  }
}

#main #container {
  overflow-y: auto;
}

#main footer {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.5em;
}

.pointer {
  cursor: pointer;
}

.picFill {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.picContain {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ul.messages {
  padding: 0px;
  margin: 0px;
}

ul.messages li.alert {
  list-style: none;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
}

ul.messages li.alert i {
  font-size: 1.5em;
  cursor: pointer;
}

body::-webkit-scrollbar {
  width: 0vw;
  scrollbar-width: 0vw;
  padding-right: 0vw;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: none;
}

#carouselMiniButtons {
  z-index: 8;
}

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
}

/* The slider itself */
.sliderRange {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 1em;
  /* Specified height */
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.sliderRange:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.sliderRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 1em;
  /* Slider handle height */
  background: rgba(119, 119, 119, 0.7);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.sliderRange::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 1em;
  /* Slider handle height */
  background: rgba(119, 119, 119, 0.7);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

#imageFullscreen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  display: none;
}

#imageFullscreen .darkMode {
  -webkit-text-stroke: 3px white;
}

#imageFullscreen .lightMode {
  -webkit-text-stroke: 3px black;
}

#imageFullscreen #imgGrids {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 12;
  background-color: rgba(255, 255, 255, 0.4);
  height: 100vh;
  width: 100vw;
}

#imageFullscreen #imgGrids .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 1fr;
  -ms-grid-rows: 1fr 6fr 1fr;
      grid-template-rows: 1fr 6fr 1fr;
  grid-gap: 2vh;
  padding-top: 2vh;
}

#imageFullscreen #imgGrids #imageContainer2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 13;
}

#imageFullscreen #imgGrids #imageContainer3 {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  padding: 0px 1vw;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1/4;
  display: -ms-grid;
  display: grid;
  grid-gap: 1vw;
}

#imageFullscreen #imgGrids .galleryPreviewButton {
  position: fixed;
  top: calc(40% - 0.5em);
  font-size: 4em;
  cursor: pointer;
  z-index: 20;
}

#imageFullscreen #imgGrids .galleryPreviewButton#prev_img {
  left: 2vw;
}

#imageFullscreen #imgGrids .galleryPreviewButton#next_img {
  right: 2vw;
}

#imageFullscreen #galleryGrid {
  position: absolute;
  height: 100vh;
  overflow-y: auto;
}

#imageFullscreen #galleryGrid #imageContainer1 {
  height: 100%;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 6vh;
}

#imageFullscreen #galleryGrid #imageContainer1 #imgGallery {
  width: 100%;
  display: -ms-grid;
  display: grid;
  grid-gap: 2vw;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 750px), (orientation: portrait) {
  #imageFullscreen #galleryGrid #imageContainer1 #imgGallery {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

#imageFullscreen #galleryGrid #imageContainer1 #imgGallery div {
  height: calc((100vw)/4);
}

#imageFullscreen #fullscreeen_container {
  position: relative;
  width: 100%;
  height: 100vh;
}

#imageFullscreen #fullscreeen_container .close {
  position: fixed;
  top: 8px;
  right: 16px;
  font-size: 3em;
  cursor: pointer;
  z-index: 20;
}

#imageFullscreen #fullscreeen_container .imgGrid {
  width: 100%;
  height: 100%;
  visibility: hidden;
  width: 100%;
}

#imageFullscreen #fullscreeen_container .imgGrid .grid {
  position: relative;
  width: 100%;
  height: 100%;
}

#imageFullscreen #fullscreeen_container .imgGrid .grid .imageContainer {
  width: 100%;
  height: 100%;
}

div#loadingCircle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 3vw;
}

div#loadingCircle i {
  font-size: 4em;
  -webkit-animation: loadingRotation 1s infinite;
}

div#loadingCircle span {
  font-size: 2em;
}

.square {
  height: 100%;
}

.square:after {
  content: "";
  display: block;
  padding-left: 100%;
}
/*# sourceMappingURL=main.css.map */