<!DOCTYPE html>
<html lang="pl">
    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://kit.fontawesome.com/81686d98c9.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css?family=Exo|Exo+2&subset=latin,latin-ext" rel="stylesheet">
        <script src="https://kit.fontawesome.com/81686d98c9.js" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <!-- <link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script> -->
        <base href="/">
        {% load static %}
        <link rel="stylesheet" href="{% static 'style/main/main.css' %}">
        <link rel="stylesheet" href="{% static 'style/main/imageLib.css' %}">
        <link rel="stylesheet" href="{% static 'style/main/topMenu.css' %}">
        <link rel="stylesheet" href="{% static 'style/main/lightMode.css' %}">
        <link rel="stylesheet" href="{% static 'fontello/css/fontello.css' %}">
        <script src="{% static 'js/darkmode.js' %}"></script>
        <script src="{% static 'js/menuMobileButton.js' %}"></script>
        <script src="{% static 'js/onresize.js' %}"></script>
        <script src="{% static 'js/scrollTo.js' %}"></script>
        <script src="{% static 'js/swipe.js' %}"></script>
        <script src="{% static 'js/newGallery.js' %}"></script>

        <!-- <link rel="stylesheet" type="text/css" href="style/main/main.css">
        <link rel="stylesheet" type="text/css" href="style/main/imageLib.css">
        <link rel="stylesheet" type="text/css" href="style/main/topMenu.css">
        <link rel="stylesheet" type="text/css" href="style/main/lightMode.css">
        <link rel="stylesheet" type="text/css" href="style/ajax/gallery.css">
        <link rel="stylesheet" type="text/css" href="other/fontello/css/fontello.css">
        <script src="js/darkmode.js"></script>
        <script src="js/menuMobileButton.js"></script>
        <script src="js/onresize.js"></script>
        <script src="js/ajaxGalleryMenager.js"></script>
        <script src="js/scrollTo.js"></script> -->
        
        {% block additional_include %}{% endblock %}

        <title>{{ title }}</title>
</head>
<body class="lightMode">
    <div id="imageFullscreen" class="brightModeHoverButton">
        <div id="imgGrid">
            <div id="close" class="lightMode" onclick="closeGallery()"><i class="fas fa-times"></i></div>
            <div id="imageContainer"></div>
        </div>
    </div>
    <div id="container">
    <div class="lightModeMenu" id="menuBar">
    <a href="/">
                <div id="logo" class="picFill" style="background-image: url('{{logo.image_for_logo.url}}');"></div>
                </a>
                <i onclick="menuBtn(this)" id="menubutton" class="icon-menu"></i>
                <menu>

                    {% for tab in menu_tabs %}
                        <li><a href="{{tab.link}}" {% if tab.to_new_tab %}target="_blank"{% endif %} {% if tab.page == page %}class='hovered'{% endif %}}>
                            {% if tab.font_awesome_icon != "" %} <i class='fab fa-{{tab.font_awesome_icon}}'></i> {% endif %}
                            {% if not tab.show_icon_only %} {{tab.name}} {% endif %}
                        </a></li>
                    {% endfor %}
                    <div><li id="settings">
                        <i class="icon-cog"></i>
                            <ul class="submenu">
                                
                                <!-- <li>
                                    <span>jakość zdjęć</span>
                                    <input type="range" min="1" max="3" value="2" class="sliderRange" id="imageQuality">
                                </li> -->
                                

                                <li onclick="darkmodeSwitch()" class="settingBtn">
                                    <span id="darkModeSpan">Tryb ciemny</span><i class="icon-moon-inv" id="darkMode"></i>
                                </li>
                            </ul>
                        </li>

                        <!-- <li id="searchBar">
                            <i class="icon-search"></i>
                            <ul class="submenu">
                                <li>
                                    <form id="searchForm">
                                        <input type="input" placeholder="Czego szukasz, przyjacielu?" class="textInp" id="searchInput">
                                        <input type="submit" value="Szukaj" id="searchBtn">
                                    </form>
                                </li>
                            </ul>
                        </li> -->
                        
                    </div>
                </menu>
                {% if show_title %}<header><h1>{{title}}</h1></header>{% endif %}
            </div>
            <div id="menuback"></div>
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}><span>{{ message }}</span><i class="fas fa-times-circle" onclick="closeMessage(this);"></i></li>
                {% endfor %}
            </ul>
            <div id="main">

                
                <script>
                    var isDark = {{ isDark }}; 
                    darkmodeSet();
                    

                    function closeMessage(elem){
                        msg = elem.parentElement;
                        msg.parentNode.removeChild(msg);
                        closeMsgBox();
                    }
                    function closeMsgBox(){
                        msgbox = $(".messages");
                        if(messages.childElementCount == 0){
                            msgbox.remove();
                        }
                    }
                    closeMsgBox();
                </script>
               
                {% block content %}
                    404
                {% endblock %}

                
                <footer>
                    Made by Kacper Kotlewski
                </footer>
            </div>
        </div>

    </body>
</html>