@-webkit-keyframes loadingRotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  12.5% {
    -webkit-transform: rotate(45deg);
  }
  25% {
    -webkit-transform: rotate(90deg);
  }
  37.5% {
    -webkit-transform: rotate(135deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
  }
  62.5% {
    -webkit-transform: rotate(225deg);
  }
  75% {
    -webkit-transform: rotate(270deg);
  }
  87.5% {
    -webkit-transform: rotate(315deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
  }
}

#content {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: calc(calc(100vh - 15vh - calc(2*5vw))*0.666) 4fr calc(calc(100vh - 15vh - calc(2*5vw))*0.666);
      grid-template-columns: calc(calc(100vh - 15vh - calc(2*5vw))*0.666) 4fr calc(calc(100vh - 15vh - calc(2*5vw))*0.666);
  -ms-grid-rows: 10fr auto;
      grid-template-rows: 10fr auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media (max-width: 1300px) {
  #content {
    -ms-grid-columns: calc(calc(100vh - 15vh - calc(2*5vw))*0.444) 4fr calc(calc(100vh - 15vh - calc(2*5vw))*0.444);
        grid-template-columns: calc(calc(100vh - 15vh - calc(2*5vw))*0.444) 4fr calc(calc(100vh - 15vh - calc(2*5vw))*0.444);
  }
}

@media (max-width: 1000px) {
  #content {
    -ms-grid-columns: calc(calc(100vh - 15vh - calc(2*5vw))*0.333) 4fr calc(calc(100vh - 15vh - calc(2*5vw))*0.333);
        grid-template-columns: calc(calc(100vh - 15vh - calc(2*5vw))*0.333) 4fr calc(calc(100vh - 15vh - calc(2*5vw))*0.333);
  }
}

@media (max-width: 750px), (orientation: portrait) {
  #content {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr auto auto;
        grid-template-rows: auto 1fr auto auto;
  }
}

.images {
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 750px), (orientation: portrait) {
  .images {
    height: 75vh;
  }
}

.images#image1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

@media (max-width: 750px), (orientation: portrait) {
  .images#image1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

.images#image2 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  grid-row: 1/4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

@media (max-width: 750px), (orientation: portrait) {
  .images#image2 {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

#aboutme {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto auto 1fr;
      grid-template-rows: 1fr auto auto 1fr;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 1em;
  text-align: center;
}

@media (max-width: 750px), (orientation: portrait) {
  #aboutme {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

#aboutme h2 {
  padding-bottom: 2vh;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

#aboutme span {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

#buttons {
  width: 100%;
  height: 0%;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  font-size: 3em;
}

@media (max-width: 750px), (orientation: portrait) {
  #buttons {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
}

#buttons ul {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#buttons li {
  padding: 0px;
  padding-right: 25px;
  padding-left: 25px;
  margin: 0px;
  list-style: none;
}

#buttons li a, #buttons li i {
  text-decoration: none;
}

#buttons li i {
  position: relative;
  display: inline-block;
  padding: 7px;
}

#buttons li:hover {
  cursor: pointer;
}

#buttons li:hover a, #buttons li:hover i {
  cursor: pointer;
}
/*# sourceMappingURL=aboutMe.css.map */