@import "../settings";

#main{

    #pageContent{
        height: (100vh - ($menuSize));
        @media (max-width : 750px), (orientation: portrait){
            height: (100vh - ($portraitSize));
        }
        width: $width;
        overflow-y: visible;
    }
}

#messageForm{
    height: 100%;
    width: $width;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5vw;
    padding-left:5vw;
    padding-right:5vw;
    padding-top:10%;

    .halfOfForm{
        width: 100%;
        height: 50%;
        display: grid;
        grid-gap: 4vh;
        grid-template-rows: 1fr 1fr 1fr;

        .formSection{
            width: 100%;
            display: grid;
            grid-template-rows: 1fr 1fr;

            label{
                text-align: center;
                font-size: 1.6em;
            }
        }
        &#secHalfOfForm{
            grid-template-rows: 2fr 3fr 1fr;
            .formSection{
                grid-template-rows: 1fr 5fr;
                grid-row: 1/3;
            }
            #submit{
                grid-row: 3/4;
            }
        }
    }
}
@media (max-width : 750px), (orientation: portrait) {
    #messageForm{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 5vh;
        padding-bottom: 5vh;
        .halfOfForm{
            height: 100%;
            .formSection{
                label{
                    font-size: 1em;
                }
            }
        }
    }
}